.common-background {
    background: url("/public/images/back.png") no-repeat center center;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    position: relative;
}

.common-background::before {
    content: '';
    position: relative;
    top: 0;
    left: -9999px;
    right: -9999px;
    bottom: 0;
    background: inherit;
    z-index: -1;
}