/* src/admin/components/NotificationPopup/NotificationPopup.css */

.notification-popup {
    position: fixed;
    top: 20px; /* Отступ сверху */
    right: 20px; /* Отступ справа */
    background-color: #4CAF50; /* Зеленый для успеха */
    color: white;
    padding: 15px 25px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Чтобы был поверх других элементов */
    opacity: 0;
    visibility: hidden;
    transform: translateY(-50px); /* Начальное положение выше */
    transition: opacity 0.5s ease-out, transform 0.5s ease-out, visibility 0.5s ease-out;
}

.notification-popup.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0); /* Конечное положение */
}

.notification-popup.error {
    background-color: #f44336; /* Красный для ошибки */
}

.notification-popup p {
    margin: 0;
    font-size: 1.1em;
    font-weight: 600;
}