# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml


# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build           # Это очень важно! Сюда собирается ваше React-приложение. Docker сам его соберет.
/dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env # Если у вас есть .env файл с переменными окружения для React (например, REACT_APP_API_URL)
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/ # Игнорировать файлы IDE